@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

a {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
}

body {
  background: #191919 !important;
  font-family: 'Kiwi Maru';
}

h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

svg {
  width: 100%;
}

textarea {
  resize: none !important;
  background-color: #131313 !important;
}

button:focus,
input:focus,
textarea:focus {
  outline: none !important;
}

.bg-black {
  background-color: #131313 !important;
}

.navbar-brand {
  font-family: 'Poiret One', cursive;
  font-size: 22px !important;
  font-weight: 600;
  color: #2ecc71 !important;
}

.styledButton {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 100%;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.styledButton:hover {
  background: #2ecc71;
}

.text-skyblue {
  color: #0372ad;
}

#page404 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poiret One";
  color: #fff;
  font-size: 1em;
}