@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

:root {
  --white: #fff;
  --green: #2ccf6d;
}

a {
  text-decoration: none !important;
  color: white;
  cursor: pointer;
}

body {
  background: #191919 !important;
  font-family: 'Kiwi Maru';
}

input:focus,
textarea:focus,
button:focus {
  outline: none !important;
}


select {
  outline: none;
  cursor: pointer;
}

svg {
  width: 100%;
}

h1 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.bg-black {
  background-color: #131313 !important;
}

.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #131313;
}

.box a {
  font-size: 16px;
  color: #05b07d;
}

.box a:hover {
  font-size: 18px;
  color: #0372ad;
}

.box input,
.box select {
  display: block;
  background: none;
  text-align: center;
  color: white;
  margin: 16px 0;
  border: 2px solid #3498db;
  padding: 14px 10px;
  border-radius: 24px;
  transition: 0.25s;
}

.box input:focus,
.box select:focus {
  border-color: #2ecc71;
}

.fa-youtube {
  font-size: 40px;
  color: #da1b0e;
}

.fa-youtube:hover {
  font-size: 40px;
  color: #be1206;
}

.nav-link {
  font-size: 18px;
  color: #ffffffbf !important;
}

.nav-link:hover,
.nav-link:focus {
  color: #05b07d !important;
  outline: none;
}

.navbar-brand {
  font-family: 'Poiret One', cursive;
  font-size: 22px !important;
  font-weight: 600;
  color: #2ecc71 !important;
}

.styledButton {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  width: 100%;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.styledButton:hover {
  background: #2ecc71;
}

#page404 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poiret One";
  color: var(--white);
  font-size: 1em;
}